.about-container {
  background-color: #2C3E50;
  color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* max-width: 1000px; */
  margin: auto;
}

.about-title {
  color: #64ffda;
  font-size: 2.5rem;
  font-weight: bold;
}

.timeline {
  position: relative;
  padding: 0.8rem 0;
  margin-top: 2rem;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #64ffda;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #64ffda;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -8px;
}

.timeline-content {
  background: #112240;
  border: 1px solid #233554;
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
  width: 45%;
}

.timeline-content h3 {
  color: #64ffda;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.timeline-content ul {
  padding-left: 0;
}

.timeline-card {
  color: #a8b2d1;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #233554;
}

.timeline-card strong {
  color: #ccd6f6;
  font-weight: 600;
}

.timeline-card:last-child {
  border-bottom: none;
}

.timeline-item:nth-child(odd) .timeline-content {
  left: -45%;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 55%;
}

@media (max-width: 768px) {
  .timeline-content {
    width: 90%;
  }

  .timeline-item:nth-child(odd) .timeline-content,
  .timeline-item:nth-child(even) .timeline-content {
    left: 5%;
  }
}
